body {
    margin: 0;
}

nav {
    background-color: grey;
    color: #fff;
    padding: 10px;
    font-size: 45px;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
}

nav img {
    height: 50px;
    border-radius: 50%;
}

main {
    padding: 20px 50px;
    background-color: #301934;
    min-height: 80vh;
}

main > ul > li{
    border-radius: 10px;
    padding-left: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

h4{
    margin-bottom: 5px;
}

#courseList {
    display: flex;
}

#courseList>li {
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    background-color: #c3b1e1;
}

#search {
    color: white;
}

#search input {
    padding: 5px;
}

#courseList button {
    height: 30px;
    margin: 5px;
    border: none;
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}